@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,500,600,700|Pacifico:600|Fira+Sans+Compressed:500,600,800|Fira+Sans:200,300,400,500,600,800|Abril+Fatface|Libre+Baskerville|Playfair+Display:400,700,900,400i,700i,900i|Permanent+Marker|Roboto+Condensed:300,300i,400,400i,700,700i|Montserrat:100,200,300,400,500,600');

html,
body,
.app,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

svg text {
  user-select: none;
}

hr {
  margin: 10px 10px;
  width: 100%;
  opacity: 0.2;
  height:1px;
  border: 0;
  background-color: rgba(0,0,0,0.3);
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 0.5rem 1.5rem;
  white-space: pre; }


.nav {
  width: 160px;
  padding-top: 38px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 9;
  position: fixed;
  left:0;
  top:0;
  &:after {
    content: "";
    border-right: 1px solid rgba(0,0,0,0.3);
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
  }
  h5 {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  span {
    font-size: 90%;
  }
  label {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    opacity: 0.5;
    font-size: 0.7em;
    margin: 0;
    margin-bottom: 3px;
    display: inline-block;
  }
  select {
    width: 120px;
    height: 27px;
    border-radius: 3px!important;
    border: 1px solid grey;
    margin-bottom: 10px;
    background: transparent!important;
  } 
  button {
    width: 120px;
    margin-bottom: 10px;
  }
}

.nav__entity {
  margin-left: 20px;
}

.content {
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 30px;
}

.hidden {
  display: none;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.app {
  padding-left: 40px;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: left;
  font-family: "Fira Sans";
}

.hue-picker-holder {
  border-radius: 3px;
  background: transparent;
  border: 1px solid grey;
  &>div {
    margin: 6px;
    height: 15px;
  }
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

button {
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: 10px;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid grey;
  color: grey;
  background: transparent;
  &:active, &:hover, &:focus {
    outline: 0;
  }
}

.dark {
  background: rgba(26, 26, 26, 1);
  color: white;
  .nav:after {
      border-right: 1px solid rgba(255,255,255,0.3);
  }
  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }  
  code {
    background: rgb(20, 20, 20);
    border: 1px solid rgb(39, 39, 39);
  }
  button {
    border: 1px solid white;
    color: white;
  }
  .hue-picker-holder {
    border: 1px solid white;
  }
  select {
    border: 1px solid white;
    background: rgba(0,0,0,0.9);
    color: white;
  }

}

.app {
  font-family: "Fira Sans";
}


@import "./color-deficiencies-filters.scss";
@import "./rc-slider.scss";